<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Myservlet1</display-name>
    <servlet-name>Myservlet1</servlet-name>
    <servlet-class>Myservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet1</servlet-name>
    <url-pattern>/Myservlet1</url-pattern>
  </servlet-mapping>
  <display-name>Test1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Myservlet2</display-name>
    <servlet-name>Myservlet2</servlet-name>
    <servlet-class>Myservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet2</servlet-name>
    <url-pattern>/Myservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Myservlet3</display-name>
    <servlet-name>Myservlet3</servlet-name>
    <servlet-class>Myservlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet3</servlet-name>
    <url-pattern>/Myservlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Myloginservlet</display-name>
    <servlet-name>Myloginservlet</servlet-name>
    <servlet-class>Myloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myloginservlet</servlet-name>
    <url-pattern>/Myloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Myloginservlet2</display-name>
    <servlet-name>Myloginservlet2</servlet-name>
    <servlet-class>Myloginservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myloginservlet2</servlet-name>
    <url-pattern>/Myloginservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mynewservlet</display-name>
    <servlet-name>Mynewservlet</servlet-name>
    <servlet-class>Mynewservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mynewservlet</servlet-name>
    <url-pattern>/Mynewservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>NewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servletone</display-name>
    <servlet-name>Servletone</servlet-name>
    <servlet-class>Servletone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servletone</servlet-name>
    <url-pattern>/Servletone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>